* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgba(128, 128, 128, 0.195);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  background-color: #b22c2c;
}

.logo {
  width: 350px;
}

/* Pokemon Image Styles */

.content {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 30px 200px 30px 200px;
  padding: 25px;
  border-radius: 10px;
}

.generationTitle {
  display: flex;
  font-size: 30px;
  font-weight: 600;
}

/* Grabbed grid style from chatgpt, issue aligning the last row with uneven amount of divs using flex & justify space between */
.pkmnContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.sprite {
  width: 100px;
}

.allSprites {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.spriteInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  gap: 3px;
}

.pkmnId {
  font-size: 12px;
  font-weight: 700;
}

.allSprites:hover {
  background-color: rgba(128, 128, 128, 0.098);
}

/* TCG styles */

.cards {
  width: 200px;
  margin-bottom: 20px;
}

.cards img {
  width: 100%;
}

.cards:hover {
  transform: scale(1.03);
}

.bestPrice {
  margin-top: 5px;
  text-align: center;
  font-size: 15px;
}

/* Up & Down arrow from w3schools - https://www.w3schools.com/howto/howto_css_arrows.asp */

.cardPrice {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 7px;
}

.arrow {
  border: solid rgb(0, 157, 42);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Individual Cards */

.card {
  width: 350px;
  height: auto;
}

.pkmnCard {
  display: flex;
}

.cardDetails {
  padding-left: 35px;
  max-width: 600px;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.details {
  display: flex;
  margin: 0px;
  gap: 80px;
}
